
body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.5rem;
}
h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(212, 21%, 14%);
    margin: 0.5rem 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.container {
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.container img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 30%;
    height: clamp(20rem, 15vw, 16rem);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .info {
    padding: 1.5rem;
}

.container .price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.current-price {
  color: hsl(158 36% 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.original-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.8rem;
}

.container .add-to-cart {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .add-to-cart img {
    width: 1rem;
    height: 1rem;
    display: block;
    margin-right: 0.5rem;
}

@media (min-width: 400px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 40rem;
        height: 30rem;
    }

    .container img {
        width: 20rem;
        height: 30rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        object-fit: cover;
    }

    .container .info {
        width: 50%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

}