
body {
  background-color: hsl(30, 38%, 92%);
}

h2 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}
h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: hsl(212, 21%, 14%);
    margin: 0.5rem 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.container {
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.container img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 30%;
    height: clamp(20rem, 15vw, 16rem);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .info {
    padding: 1.5rem;
}

.container .price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.current-price {
  color: hsl(158 36% 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.original-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}